.room {
    margin-top: 2%;
    border: 1px solid black;
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    background-image: linear-gradient(to right, rgb(234, 229, 215),rgb(236, 228, 207), rgb(225, 218, 183));
    
}
.megaRoom{
    display: flex;
}
.queue {
    border: 1px solid rgb(46, 46, 45);
    height: 80%;
    width: 15%;
    justify-content: center;
    margin-right: 5px;
}

.cust {
    border: 1px rgb(64, 64, 62) dashed;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    padding-left: 2px;
    display: grid;
    justify-content: center; 
    align-content: center; 
}
   